# SPDX-FileCopyrightText: 2019 ladyada for Adafruit Industries
# SPDX-License-Identifier: MIT

# This file is where you keep secret settings, passwords, and tokens!
# If you put them in the code you risk committing that info or sharing it

secrets = {
    "tenant_wifi_ssid": "XXXX",
    "tenant_wifi_password": "XXXX",
    "heatseek_wifi_ssid": "000000",
    "heatseek_wifi_password": "000000",
    "timezone": "America/New_York",  # Check http://worldtimeapi.org/timezones
    "cell_id": "feather_2022_003",
    "reading_interval": "3600",
}
