# SPDX-FileCopyrightText: 2019 ladyada for Adafruit Industries
# SPDX-License-Identifier: MIT

# This file is where you keep secret settings, passwords, and tokens!
# If you put them in the code you risk committing that info or sharing it

# Copy this to secrets.py on your actual device

secrets = {
    "ssid": "wifi_network_name",
    "password": "wifi_password",
    "timezone": "America/New_York",  # Check http://worldtimeapi.org/timezones
    "cell_id": "feather_2022_001",
    "reading_interval": "300",
}

## NOTE:  Before sending a device to a user, enable "quiet mode" by creating 
## quiet.txt 
## in this CIRCUITPY folder. See quiet.txt.example for more information. 
