# SPDX-FileCopyrightText: 2019 ladyada for Adafruit Industries
# SPDX-License-Identifier: MIT

# This file is where you keep secret settings, passwords, and tokens!
# If you put them in the code you risk committing that info or sharing it

# Copy this to secrets.py on your actual device

secrets = {
    "tenant_wifi_ssid": "xxxx",
    "tenant_wifi_password": "xxxx",
    "heatseek_wifi_ssid": "zzzz",
    "heatseek_wifi_password": "zzzz",
    "timezone": "America/New_York",  # Check http://worldtimeapi.org/timezones
    "cell_id": "feather_AAA",
    "reading_interval": "3601",
    "sms_mode": "true",
}

## NOTE:  Before sending a device to a user, enable "quiet mode" by creating 
## quiet.txt 
## in this CIRCUITPY folder. See quiet.txt.example for more information. 
